@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #121212;
	color: #d4d4d4;
	font-family: 'Arial', sans-serif;
	padding: 20px;
	font-size: 16px;
	line-height: 1.6;
}

a {
	color: #00ff7f;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #009973;
}

p {
	margin-bottom: 1.0em;
}

header {
	max-width: 800px;
	margin: 20px auto;
	text-align: center;
	padding: 20px 0;
	background-color: #1c1c1c;
}

header h1 {
	color: #00ff7f;
	font-size: 36px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;
}

.content {
	max-width: 800px;
	margin: 20px auto;
}

h2 {
	font-size: 24px;
	color: #00ff7f;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 1.0em;
	margin-top: 1.0em;
}

h3 {
	color: #00ff7f;
	margin-bottom: 1.0em;
}

.center-list {
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	margin: auto;
	width: 50%;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

ul li {
	margin-bottom: 18px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

ul li a {
	display: inline-block;
	padding: 11px;
	color: #d4d4d4;
	background-color: #262626;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s ease, color 0.3s ease;
	flex: 1;
}

ul li a:hover {
	background-color: #00ff7f;
	color: #121212;
	text-decoration: none;
}

ul li a:visited {
	color: #d4d4d4;
}

.image-date {
	color: #a8a8a8;
	font-size: 14px;
	margin-left: auto;
	float: right;
	padding-right: 10px;
}

.date {
	color: #a8a8a8;
	font-size: 14px;
	margin-left: auto;
	float: right;
}

footer {
	text-align: center;
	margin-top: 20px;
	color: #a8a8a8;
	font-size: 14px;
	padding: 10px 0;
	font-family: 'Roboto', sans-serif;
}

.image-item {
	background-color: #1c1c1c;
	border-radius: 8px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

.image-item img {
	max-width: 100%;
}

.description {
	text-align: left;
	margin-top: 10px;
}
